@import "../../";

.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.title{
    text-transform:uppercase;
    text-align: end;
}


.sidebar{
    display: flex;
    flex-direction: row;
    width: 256px;
    border-right: 5px solid var(--color-primary);
}

.divider{
    border: 3px solid var(--color-primary);
    margin: 16px;
}



.content{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


.tagtab{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position:sticky;
    top: 32px;
    margin-top: 32px;
}

.tagtab i{
    font-size: 3rem;
    color: var(--color-dark);
    cursor: pointer;
    margin-left: 8px;
}

.tagcontainer{
  background-color: var(--color-dark);
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 4px 2px rgb(53, 53, 53);

  display: flex;
  flex-direction: column;
  position:sticky;

  gap: 16px;
  height: 500px;
  width: 288px;

  overflow:hidden;
  
  transition: width .5s;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    
}

.tags p{
    color: var(--color-on-background);
}




button {
  background-color: var(--color-primary);

  -webkit-box-shadow: 2px 3px 3px #000000;
  -moz-box-shadow: 2px 3px 3px #000000;
  box-shadow: 2px 3px 3px #000000;
  color: var(--color-on-secondary);
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  margin: 16px;
}



button:hover,
button:focus-visible{
  background-color: var(--color-secondary);
  
}

button:active {
  background-color: var(--color-secondary);

}




.card {
  display: flex;
  flex-direction: column;
  padding: 1.125rem;
  width: 300px;
  height: auto;
  background: var(--color-dark);
  margin: 10px 0;
  
  -webkit-box-shadow: 2px 3px 3px #000000;
  -moz-box-shadow: 2px 3px 3px #000000;
  box-shadow: 4px 6px 6px #000000;
  border-radius: 4px;
}

.focusedcard{
  display: flex;
  flex-direction: column;
  padding: 1.125rem;
  width: 450px;
  height: auto;
  background: var(--color-dark);
  margin: 10px 0;
}

.card:hover{
  padding: 1rem;
  border: var(--color-secondary) 0.125rem solid;
}

.card i{
  font-size: 1.5rem;

}
.card:hover i {


}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.imgcontainer{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  width: 100%;
}
.cardimgcaption{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 8px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px;
  width: 100%;
  font-size: 1em;
}

.textcontainer{
  color: var(--color-bodytext);

  display: flex;
  flex-direction: column;
  margin: 8px 0 8px 0;
}
.textcontainer i{
  color: var(--color-primary);
}
.titlecontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;

}

  
.close {
  border: none;
  padding: 10px;
  background-color: #cfeed6;
  margin: 0 10px;

}

.tagfilter {
  position: relative;
  justify-content: center;
  padding: 20px 10px;
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 16px;
  margin: 20px 20px;
}


@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;

    }
    .title{
       font-size: 3rem;
       margin-right: 0px;

    }
    .header{
        align-items: center;
        justify-content: center;
    }
    .focusedcard{
        width: 300px;
    }


    .tagtab i{
       display: none;
    }


    .content{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sidebar{
        border-right: 0px solid var(--color-primary);
        margin: 32px;
    }
}