@import "../../";

.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.sidebar{
    display: flex;
    flex-direction: row;
    width: 256px;
    border-right: 5px solid var(--color-primary);
}

.divider{
    border: 3px solid var(--color-primary);
    margin: 16px;
}

.title{
    font-size: 6rem;
    text-transform:uppercase;
    margin-right: 32px;
}

.content{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.contentsidebar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 16px;
    width: 256px;
    border-right: 5px solid var(--color-bg);
    padding: 16px;
    flex-shrink: 0;
}


.tagholder{
    position:sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}

.availabletags{
    gap: 8px;
    margin-top: 32px;

}
.selectedtags{
    
    gap: 8px;

}

.tag{
  

}

button {
    padding: 5px;
    background-color: #cfeed6;
    border-radius: 10%;
    margin: 5px;
  }
  
  button:hover {
    background-color: #cfeed67f;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: auto;
    background: var(--color-dark);
    margin: 10px 0;
  }
  .focusedcard{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 450px;
    height: auto;
    background: var(--color-dark);
    margin: 10px 0;
  }
  .imgcontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
  }
  .cardimgcaption{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px;
    width: 100%;
    font-size: 1em;
  }

  .textcontainer{
    color: var(--color-bodytext);

    display: flex;
    flex-direction: column;

  }
  .textcontainer i{
    color: var(--color-primary);
  }
  .titlecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
  .cardtags{
    
  }
  
  .close {
    border: none;
    padding: 10px;
    background-color: #cfeed6;
    margin: 0 10px;

  }
  
  .tagfilter {
    position: relative;
    justify-content: center;
    padding: 20px 10px;
  }
  
  .cardcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 16px;
    margin: 20px 20px;
  }
  

@media screen and (max-width: 830px) {

}

/* @import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;

    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;

}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage{
    width: 35%;
    padding: 16px;

}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg,rgba(165,215,232,0.42)0%, rgba(255,255,255,0)100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
}

.aboutItem:hover{
    background-size: 100% 100%;
}

.aboutItem img {
    padding: 8px;
}

.aboutItem h3{
    font-size: 1.5em;
    font-weight: 600;
}

.aboutItem p {
    font-size: 1em;
}

@media screen and (max-width: 830px) {
    .container{
       background-color: transparent;
       padding-left: 0;
       padding-right: 0;
       
    }
    .content{
        flex-direction: column;
    }
    .aboutImage{
        display: none;
    }
    .title{
        text-align: center;
    }
    .aboutItems{
        margin-top: 29px;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }
} */