@import "../../vars.css";

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100svh;

}

.content{
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-rows: 1fr repeat(3, 2fr) repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}


.content h3{
    color: var(--color-on-primary);
    grid-area: 6 / 2 / 7 / 6;
    margin: auto;
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}

#firstname {
    height: 100%;

    grid-area: 2 / 2 / 3 / 4;
}
#middlename {
    height: 100%;

    grid-area: 3 / 3 / 4 / 5;
}
#lastname{
    height: 100%;

    grid-area: 4 / 4 / 5 / 6; 

}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px ;
    background: linear-gradient(180deg, var(--color-background) 60%, rgba(0,212,255,0) 100%);
    border-right: 5px solid var(--color-primary);
    flex-shrink: 0;
}

.logo{
    margin-top: var(--spacing-large);
}

.links{
    margin-top: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-medium);

}

.link{
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);

    padding: 4px;
}

.link a{
    font-size: 2em;
    color: var(--color-primary);
}

.link p{
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: var(--weight-heavybold);
    margin: var(--spacing-xtrasmall);
}

.link a:hover{
    font-size: 2.1em;
    color: var(--color-secondary);

}



@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        padding-bottom: 32px;

    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  


    
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }
    #firstname {
        margin-right:0;
        margin-left: 0;
    }
    
    .content h3{
        margin: auto;
        font-size: var(--size-bodytext);
        text-align: center;
        text-wrap: balance;
    }



    .sidebar{
        border: 0px;
        align-items: center;
        justify-content: center;
        width: 100%;
        background:none;

    }
    .links{
        margin-top: var(--spacing-medium);
        display: flex;
        flex-direction: row;
        height: 128px;
    
    }
}