@import "../../../vars.css";



.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
}


/* Card */

#card{
    background: var(--color-dark);
    cursor: pointer;
    margin-bottom: var(--spacing-xtrasmall);
    padding: var(--spacing-xtrasmall) var(--spacing-small);
    width: auto;
    max-width: 500px;
    border: 2px transparent solid;
}

#card:hover{
    border: 2px var(--color-primary) solid;
}



.title{
    color: var(--color-bodytext);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--spacing-small);
    padding: var(--spacing-xtrasmall);
    
}

.title img[src=""]{
    display: none;
}

.organisation{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-small)
}


.caret{
    display: flex;
}
.caret i{
    margin: auto;
    color: var(--color-primary);
    font-size: 2rem;
}

.collapsed{
    max-height: 0;
    height: auto;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

/* Card Opened */


.opened{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}


/* Content */

.divider{
    composes: divider from "../../../shared.css";
}

#content{
    overflow: hidden;
    background-color: var(--color-bg);
    border-radius: 10px;
    margin-top: var(--spacing-xtrasmall);
    
}
#content h4{
    margin: var(--spacing-small) 0 var(--spacing-small) 0;
}
#content ul{
    list-style: none;
}

#content li{
    margin-bottom: var(--spacing-small);
    margin-left: var(--spacing-medium);
}