@import "../../vars.css";
.container{
    composes: container from "../../shared.css";
}

.header{
    composes: header from "../../shared.css";
}

.sidebar{
    composes: sidebar from "../../shared.css";
}

.divider{
    composes: divider from "../../shared.css";

}

.title{
    composes: title from "../../shared.css";
}
.content:before {
    height: 100%;
}
.content{
    background-color: var(--color-primary);
}
.aboutwrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-xtralarge);
}

.aboutimage img{
    max-height: 806px;
    max-width: 424px;
    height: 50rem;
    width: 25rem;
    margin-right: var(--spacing-large);
    
}

.abouttext{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    margin: var(--spacing-large) 0 0 var(--spacing-large);
}

.abouttext h3{
    max-width: 357px;
}

.abouttext p{
    max-width: 606px;

}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}

@media screen and (max-width: 830px) {
    .aboutwrapper{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    
    }
    .sidebar{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 3rem;
        text-transform:uppercase;
        margin-right: 0px;
    }
    .abouttext{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        margin: var(--spacing-small) 0 0 var(--spacing-small);
    }
    .aboutimage img{
        width: 100%;
        margin:auto;
    }
}

