@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 256px;
    border-right: 5px solid var(--color-primary);
}

.divider{
    border: 3px solid var(--color-primary);
    margin: 16px;
}

.title{
    font-size: 6rem;
    text-transform:uppercase;
    margin-right: 32px;
    text-align: end;
}

.content{
    background-color: var(--color-primary);
    height: 100%;
 
}
.aboutwrapper{
    display: flex;
    flex-direction: row;
    margin-left: 256px;
    margin-right: 256px;
    justify-content: space-between;

}

.aboutimage img{
    max-height: 806px;
    max-width: 424px;
    height: 50rem;
    width: 25rem;
    margin-right: 64px;
    
}

.abouttext{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 64px 0 0 64px;
}

.abouttext h3{
    max-width: 357px;
}

.abouttext p{
    max-width: 606px;

}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}

@media screen and (max-width: 830px) {
    .aboutwrapper{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    
    }
    .sidebar{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 3rem;
        text-transform:uppercase;
        margin-right: 0px;
    }
    .abouttext{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 16px 0 0 16px;
    }
    .aboutimage img{
        width: 100%;
        padding-right: 32px;
        margin-right: 0px;
    }
}

