@import "../../../vars.css";






.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  width: 20rem;
  height: auto;
  background: var(--color-dark);
  margin: var(--spacing-xtrasmall) 0;
  border: transparent var(--spacing-xxtrasmall) solid;

  -webkit-box-shadow: 2px 3px 3px #000000;
  -moz-box-shadow: 2px 3px 3px #000000;
  box-shadow: 4px 6px 6px #000000;
  border-radius: 4px;
}


.card:hover{
  padding: var(--spacing-small);
  border: var(--color-secondary) var(--spacing-xxtrasmall) solid;
}

.card i{
  font-size: 1.5rem;

}
.card:hover i {


}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.imgcontainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
}

.imgcontainer img{
  min-width: 284px;
  min-height: 284px;
  width: 17.75rem;
  height: 17.75rem;
}

.cardimgcaption{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xtrasmall);
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: var(--spacing-xxtrasmall);
  width: 100%;
  font-size: 1em;
}

.textcontainer{
  color: var(--color-bodytext);

  display: flex;
  flex-direction: column;
  margin: var(--spacing-xtrasmall) 0 var(--spacing-xtrasmall) 0;
}
.textcontainer i{
  color: var(--color-primary);
  scale: 1;
}
.titlecontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xtrasmall);

}

  
.close {
  border: none;
  padding: var(--spacing-xtrasmall);
  background-color: #cfeed6;
  margin: 0 var(--spacing-xtrasmall);

}

.tagfilter {
  position: relative;
  justify-content: center;
  padding: var(--spacing-small) var(--spacing-xtrasmall);
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  gap: var(--spacing-small);
  margin: var(--spacing-small) var(--spacing-small);
}


@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;

    }
    .title{
       font-size: 3rem;
       margin-right: 0px;

    }
    .header{
        align-items: center;
        justify-content: center;
    }
    .focusedcard{
        width: 300px;
    }


    .tagtab i{
       display: none;
    }


    .content{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sidebar{
        border-right: 0px solid var(--color-primary);
        margin: var(--spacing-medium);;
    }
}