@import "../../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16 14 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
}

.image{
    margin-bottom: 26px;
}

title{
    font-size: 1.5em;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 1.5em;
    font-weight: 400;
}

.skills{
    display: flex;
    flex-direction: row;
    gap: 4px;
    list-style: none;
    justify-content: center;
    width: 100%;
    margin-top: 14px;
    flex-wrap: wrap;

}

.skill{
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-tertiary);
    padding: 2px 22px;

}

.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link{

    text-decoration: none;
    font-size: 1.7em;
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 1px 22px;
}