@import "../../vars.css";

.container{
    margin-top: 24px;
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 24px;
    gap: 10px;

}
.text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;

}
.title{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.text p{
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;

}

.links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    height: 128px;

}

.link{
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a{
    font-size: 2em;

}

@media screen and (max-width: 830px) {
    
    .title{
        text-align: center;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .links{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}