@import "../../vars.css";

.navbar{

    z-index: 999;
    display: flex;
    position: fixed;
    right: 32px;
    bottom: 32px;

}



.menuItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    gap: var(--spacing-small);
}

.menuItems a{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

#itemtext{
    color: var(--color-bodytext);
    background-color: var(--color-background);

    transform: translate(14px);

    overflow: hidden;


    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.shown{
    /* animation-name: showtext;
    animation-duration: 5s; 
    animation-fill-mode: forwards; */
    max-width: 256px;
    padding:var(--spacing-xxtrasmall) var(--spacing-small) var(--spacing-xxtrasmall) var(--spacing-xxtrasmall);
    border: 2px solid var(--color-bodytext);
    transition: all 1s cubic-bezier(0,1,0,1);
    opacity: 100%;
}

.hidden{
    max-width: 0;
    padding:0px;
    border: 0px solid var(--color-bodytext);
    transition: all 1s cubic-bezier(0,1,0,1);
    opacity: 0%;

    /* animation-name: showtext;
    animation-duration: 5s; 
    animation-fill-mode: forwards;
    animation-direction: reverse; */

}

.menuItems li:hover
.hidden{
    max-width: 256px;
    padding:var(--spacing-xxtrasmall) var(--spacing-small) var(--spacing-xxtrasmall) var(--spacing-xxtrasmall);
    border: 2px solid var(--color-bodytext);
    transition: all 1s ;
    opacity: 100%;
}

@keyframes showtext {
    from {
        max-width: 0;
        padding:0px;
        border: 0px solid var(--color-bodytext);
        opacity: 0%;
    }
    to {
        max-width: 256px;
        padding: var(--spacing-xxtrasmall)  var(--spacing-small)  var(--spacing-xxtrasmall)  var(--spacing-xxtrasmall);
        border: 2px solid var(--color-bodytext);
        opacity: 100%;

    }
    
}







#square {
    justify-self: center;
    border-style: solid;
    border-width: medium;
    border-color: white;
    background-color: var(--color-background);
    margin: var(--spacing-xtrasmall);
}

.selected{
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    transition: all 0.2s linear;

}

.unselected{
    transform: rotate(0) translate(-4px);
    height: 16px;
    width: 16px;
    margin: var(--spacing-xtrasmall);
    transition: all 0.2s linear;
}

@media screen and (max-width: 830px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-small);
        z-index: 3;
        display: none;

    }
    .sidebar{
    }
    
    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-small);
        border-radius: 10px;
        background:rgb(25, 55, 109);
        background: linear-gradient(180deg,var(--color-gradientstart)0%,var(--color-gradientend)100%);

        padding: var(--spacing-small) var(--spacing-medium);
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }



    .menuOpen{
        display: flex;
        z-index: 1;
    }
}