@import "../../vars.css";

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--spacing-xtrasmall);
}

.footer hr{
    border: 3px solid var(--color-primary);
    margin: var(--spacing-small);
    width: 98%;
}
.containers{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    padding: var(--spacing-small) var(--spacing-xtralarge) var(--spacing-large) var(--spacing-small);
}
.containerleft{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo{
    margin: var(--spacing-small);
    width: 4rem;
    height: 4rem;
    cursor: pointer;

}
.version{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    gap: var(--spacing-medium);
    margin: var(--spacing-xtrasmall);
}
.label{
    border: 2px var(--color-primary) solid;
    border-radius: 400px;
    
    min-width: fit-content;
    padding: var(--spacing-xtrasmall);
}
.label h3{
    width: fit-content;
    height: fit-content;
}
.copyright{
    margin-bottom: var(--spacing-small);
}




.containerright{
    display: flex;
    align-items: center;
    flex-direction: column;    
    margin-left: auto;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
}

.links{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    list-style: none;
    margin-right: var(--spacing-medium);
}
.emailcontact{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    word-spacing: var(--spacing-xtrasmall);

}

.footer a:hover{
    text-decoration: underline 2px dotted white;
    text-underline-offset: var(--spacing-xtrasmall);
}

@media screen and (max-width: 830px) {
    .containers{
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-xtrasmall);
        gap:var(--spacing-small);
    }
    .version{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .copyright{
        margin: var(--spacing-small);
    }
}
